@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

$blue : #494eff;

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Cabin',sans-serif;
}

html,body{
    height: 100vh;
}

body{
    display: grid;
    place-items: center;
}
.container{
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 5fr 3fr;
    align-items: center;
    padding:0 10vw
}

.fieldWrapper{
    display: inline-grid;
    gap:10px;   
    padding:2vw 0;
    margin-right: .6%;
    width: 49%;
    label{
        color: rgba(197, 197, 197, 0.933);
    }

    select{
        width:100%;
        padding:10px;
        border: 1px solid rgba(197, 197, 197, 0.933);
        -webkit-appearance: menulist-button;

        &::-webkit-scrollbar{
            width:1px
        }

        &:hover, &:focus{
            color: white;
            border: 1px solid $blue;
            background: $blue;
        }

    }
}
button{
    width:100%;
    padding:10px 0;
    border: none;
    background:$blue;
    color: white;
    font-size: 1.2rem;
}